body{
    
    background-image: url(cloud9.avif);
    background-repeat: no-repeat;
    background-size: cover;
    width: 400px;
    height: 500px;
    border-width: 200px;

}

h1{
    position: absolute;
    left: 70px;
}

.card{
    width: 350px;
    max-width: 470px;
    border-radius: 20px;
    padding: 30px 25px;
    background: rgb(47, 14, 144);
    left: 10px;
    
}

.search{
    width: 30px;
    height: 30px;
    border-radius: 100px;
    display: flex;
    text-align: center;
    justify-content: space-between;
    position: absolute;
    left: 100px;
    top: 20px;
    border-radius: 100%;
}

.search input{
    border-radius: 30px;
    border: 0;
    outline: 0;
}

.search button{
    border-radius: 20px;
    border: 0;
    outline: 0;
    cursor: pointer;
}

.temp{
    position: absolute;
    left: 180px;
    top: 300px;
    font-size: xx-large;
}

.city{
    position: absolute;
    top: 180px;
    left: 145px;
    font-weight: bolder;
    font-size: 40px
}